.page-item {
  padding: 1rem 1.125rem;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
  cursor: pointer;
  transition: all .6s linear;

  &:hover {
    box-shadow: 0 8px 8px -4px rgb(191, 218, 227);
  }
  span {
    color: var(--color-black);
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }
}

.active {
  border: 1px solid var(--color-dove-gray);
}

.page-item.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--color-dove-gray);
  color: #ffffff !important;
}

.page-item.disabled span {
  color: #fff;
}