.title {
  font-size: 36px;
  font-weight: 800;
  margin: 5px 10px;
}

.form {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.checkbox {
  width: 95%;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}
.buttons button {
  margin-top: 30px;
  width: 420px;
  font-size: 18px;
  font-weight: 700;
  height: 60px;
}
.outlined {
  border: 1px solid var(--color-dove-gray2);
}
.login {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-dove-gray2);
}
.login span {
  color: var(--color-black);
  cursor: pointer;
}
.google {
  margin-right: 20px;
}
.inputs div {
  margin-top: 20px;
}
.line {
  width: 420px;
  margin: 30px auto;
  height: 1px;
  border-top: 1px solid var(--color-alto);
}
