.numberCountBlock {
  max-width: 1440px;
  height: 318px;
  background-color: var(--color-soapstone);
}
.containers {
  padding: 0 15px;
  margin: 0 auto;
}
.numberCountBlockItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0 56px;
}
.numberCountBoxes {
  width: 218px;
  height: 212px;
}
.iconsBox {
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.numberCount {
  font-size: 46px;
  line-height: 64.4px;
  letter-spacing: -0.92px;
  color: var(--color-black);
  margin-bottom: 13px;
}
.numberCountText {
  font-size: 20px;
  color: var(--color-bismark);
  line-height: 28px;
  letter-spacing: -0.4px;
}
