@import '../../styles/variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: $btn_dark_grey;
  color: $white;
}

