@font-face {
  font-family: 'Manrope';
  src: local('Manrope ExtraLight'), local('Manrope-ExtraLight'),
  url(../assets/fonts/Manrope-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Light'), local('Manrope-Light'),
  url(../assets/fonts/Manrope-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Regular'), local('Manrope-Regular'),
  url(../assets/fonts/Manrope-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Medium'), local('Manrope-Medium'),
  url(../assets/fonts/Manrope-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
  url(../assets/fonts/Manrope-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope Bold'), local('Manrope-Bold'),
  url(../assets/fonts/Manrope-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
  url(../assets/fonts/Manrope-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
