$beige: #fff7f1;
$dark_beige: #ffe0cf;
$light_beige: #fceee6;
$white: #ffffff;
$black: #000;
$dark_grey: #636363;

$orange: #FD650B;
$gray: #C5C5C5;



// Background
$secondary_bg_color: #FFF9F6;
$border_card: #EDD6C9;


// Btn
$btn_light_grey: #6e6e6e;
$btn_dark_grey: #1a1a1a;
$desc_light_grey: #7b7b7b;
$btn_bg_grey: #dcdcdc;

