.featuredProperties {
  margin: 100px 0 150px;
  &Container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .featuredPropertiesTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
    font-weight: 800;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.72px;
    color: var(--color-black);
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: var(--color-blaze-orange);
      transition: all .4s ease-in;
      &:hover {
        translate: 5px;
      }

      svg {
        width: 24px;
      }
    }
  }

  .featuredPropertiesFilterBar {
    display: flex;
    gap: 30px;
    margin: 23px 0 60px 0;
    li {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: var(--color-silver);
      cursor: pointer;
    }
  }

  .featuredPropertiesItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 24px;
  }
}

.activeFilter {
  color: var(--color-black) !important;
}
