.reviewBlock {
  background: var(--color-white);
  border: 1px solid var(--color-alto);
  border-radius: 20px;
  padding: 40px 130px 40px 30px;
  margin-bottom: 25px;
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 165%;
    margin-bottom: 40px;
    color: var(--color-dove-gray2);
  }
  &Rating {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.4px;
    color: var(--color-dove-gray2);
  }
  &Avatar {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  &Info {
    h4 {
      font-weight: 800;
      font-size: 28px;
      line-height: 135%;
      letter-spacing: -0.56px;
      margin-bottom: 5px;
      color: var(--color-black);
    }
    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 180%;
      color: var(--color-black);
    }
  }
}