.rating {
  display: flex;
  align-items: center;
}
.rating_items {
  display: flex;
  align-items: center;
}
.rating_item {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}
.rating_item:last-child {
  margin-right: 14px;
}
.rating_value {
  font-weight: 600;
  font-size: 16px;
}
