.section_howitworks {
  margin: 80px 0;
  .container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
  .howitworks_block {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 588px;
    &_left {
      flex: 1;
      min-width: 434px;
      width: 100%;
      padding: 50px 100px 50px 50px;
      background-color: var(--color-tuft-bush);
      border-radius: 20px;
      h2 {
        max-width: 417px;
        font-weight: 800;
        font-size: 36px;
        line-height: 140%;
        letter-spacing: -0.72px;
        color: var(--color-black);
      }
      p {
          font-weight: 400;
          font-size: 18px;
          line-height: 180%;
          color: var(--color-black);
          margin: 14px 0 50px 0;
      }

      button {
        padding: 16px 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
      }
    }
    &_right {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      flex: 2;

      div {
        max-width: 280px;
        padding: 25px 76px 50px 30px;
        border-radius: 20px;
        background: var(--color-old-lace);
        svg {}
        h4 {
          margin-top: 20px;
          max-width: 175px;
          font-weight: 800;
          font-size: 28px;
          line-height: 135%;
          letter-spacing: -0.56px;
          color: var(--color-black);
        }
      }
    }
  }
  }
}