.section_header {
  padding: 20px 0;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    .header_section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header_logo {
      }
      .nav {
        margin-left: auto;
      }
      .header_right_container {
        display: flex;
        align-items: center;
        gap: 40px;
        a {
          display: flex;
          align-items: center;
          gap: 12px;
          font-weight: 700;
          font-size: 18px;
          line-height: 100%;
        }
        button {
          padding: 15px 30px;
          a {
          font-size: 16px;
          font-weight: 600;
          line-height: 100%;
          }
        }
      }
    }
  }
}