
h2 {
  font-weight: 700;
  font-size: 18px;
}
.h2 {
  margin-bottom: 20px;
}
.footer {
  width: 1194px;
  margin: 100px auto 80px;
  color: #1A1A1A;
  font-weight: 600;
  font-size: 16px;
}
.footer_main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer_contact {
  padding-right: 235px;
}
.address {
  margin: 45px 0 16px;
}
.phone {
  margin-bottom: 12px;
}
.mail {
  margin-bottom: 45px;
}
.social_icons li {
  display:inline-block;
  width:26px;
  height:26px;
  margin-right: 16px;
}
.single_footer {
  margin-right: 77px;
}
.single_footer:last-child {
  margin-right: 0;
}
.footer_link {
  display: flex;
}
.link{
  padding-bottom: 14px;
}
.link:last-child {
  padding-bottom: 0;
}
.link:first-child {
  padding-top: 20px;
}
.link:hover {
  transform: scale(1.1);
  opacity: 1;
}
