.section_testimonial {
  padding: 150px 0;
  .container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    .slide_block {
      display: flex;
      align-items: center;
     justify-content: space-evenly;
      .img {
        max-width: 384px;
        max-height: 402px;
        border-radius: 8px;
        img {
          max-width: 384px;
          max-height: 402px;
          border-radius: 8px;
        }
      }
      .slide_description {
        position: relative;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::after {
          position: absolute;
          content: '';
          width: 69px;
          height: 51px;
          background-image: url('../../assets/icons/TestimonialQuote.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          right: 100px;
          top: 0;
        }
        h3 {
          font-weight: 800;
          font-size: 28px;
          line-height: 135%;
          letter-spacing: -0.56px;
          color: var(--color-black);
          margin-bottom: 4px;
        }
        span {
          font-weight: 600;
          font-size: 18px;
          line-height: 180%;
          color: var(--color-black);
        }
        p {
          max-width: 540px;
          font-weight: 600;
          font-size: 24px;
          line-height: 165%;
          color: var(  --color-dove-gray);
        }
        .buttons {
          display: flex;
          margin-top: 52px;
          align-items: center;
          gap: 30px;
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: transparent;
            cursor: pointer;
          }
        }
        .prev,
        .next {
          color: var(--color-dove-gray2);
        }
        .prev:hover svg,
        .next:hover svg {
          transition: .6s;
          fill: var(--color-blaze-orange);
        }
        .prev:hover span,
        .next:hover span {
          transition: .6s;
          color: var(--color-blaze-orange);
        }
        .span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
